{
     "semi": true,
     "singleQuote": true,
     "printWidth": 200,
     "tabWidth": 5,
     "trailingComma": "all",
     "bracketSpacing": true,
     "arrowParens": "always",
     "endOfLine": "lf",
     "useTabs": false,
     "quoteProps": "consistent",
     "jsxSingleQuote": false,
     "htmlWhitespaceSensitivity": "ignore",
     "embeddedLanguageFormatting": "auto",
     "proseWrap": "always",
     "vueIndentScriptAndStyle": true,
     "insertPragma": false,
     "requirePragma": false
}
